--
-- PostgreSQL database dump
--

\restrict zoRrTSykacnzOocNCrY2E2LLwhMvqVPeCwSwHLFtybHl0Es8OGhcasRaE8qUoHJ

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: robot_map; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.robot_map (
    id integer CONSTRAINT map_id_not_null NOT NULL,
    "Name" character varying(50) CONSTRAINT "map_Name_not_null" NOT NULL,
    rows integer CONSTRAINT map_rows_not_null NOT NULL,
    columns integer CONSTRAINT map_columns_not_null NOT NULL,
    description character varying(800),
    created_date timestamp without time zone CONSTRAINT map_createddate_not_null NOT NULL,
    modified_date timestamp without time zone CONSTRAINT map_modifieddate_not_null NOT NULL,
    issquare boolean GENERATED ALWAYS AS (((rows > 0) AND (rows = columns))) STORED
);


ALTER TABLE public.robot_map OWNER TO postgres;

--
-- Name: map_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.robot_map ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.map_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: robot_command; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.robot_command (
    id integer CONSTRAINT robotcommand_id_not_null NOT NULL,
    "Name" character varying(50) CONSTRAINT "robotcommand_Name_not_null" NOT NULL,
    description character varying(800),
    is_move_command boolean CONSTRAINT robotcommand_ismovecommand_not_null NOT NULL,
    created_date timestamp without time zone CONSTRAINT robotcommand_createddate_not_null NOT NULL,
    modified_date timestamp without time zone CONSTRAINT robotcommand_modifieddate_not_null NOT NULL
);


ALTER TABLE public.robot_command OWNER TO postgres;

--
-- Name: robotcommand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.robot_command ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.robotcommand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    email text NOT NULL,
    firstname text NOT NULL,
    lastname text NOT NULL,
    passwordhash text NOT NULL,
    description text,
    role text,
    createddate timestamp without time zone NOT NULL,
    modifieddate timestamp without time zone NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: robot_map pk_map; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.robot_map
    ADD CONSTRAINT pk_map PRIMARY KEY (id);


--
-- Name: robot_command pk_robotcommand; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.robot_command
    ADD CONSTRAINT pk_robotcommand PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict zoRrTSykacnzOocNCrY2E2LLwhMvqVPeCwSwHLFtybHl0Es8OGhcasRaE8qUoHJ

